<div class="row showbar" id="newstation">
  <div class="col-md-12">
		<h2>New Station</h2>

		<%= render 'form', station: @station %>

		<%= link_to 'Back', root_path, :id => 'backlink' %>
	</div>
</div>
